/*Por nombre de etiqueta*/
p{
    color: rgb(33, 1, 62);
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h2{
    color: rgb(1, 1, 69);
}

nav img{
    width: 500px;
    height: 400px;
} 
main img{
    width: 500px;
    height: 400px;
 }

/*Por clase, se pone "." antes de la clase*/
.Prótesis{
    background-color: rgba(194, 192, 169, 0.305);
}

/*Por id*/
#Personalizada{
    background-color: rgba(94, 149, 131, 0.311);
}

/*Selector Universal
Especificidad determina a quién le hará caso

*{
    margin: 0;
    padding: 0;
}
*/

/*Pseudo clases - "hover" cambios al mover el cursos*/
nav img:hover{
    width: 550px;
    height: 450px;
}
main img:hover{
    width: 550px;
    height: 450px;
}

/*Clase 2*/
h1{
    background-color: #38668e;
    margin: 10px;
    padding: 10px;
    border: plum;
    color: rgb(250, 250, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}   

section{
    background-color: rgb(40, 40, 114);
    color: rgb(214, 218, 255);
    text-decoration-color: aliceblue;
}
h3{
    color: aliceblue;
}

.product img{
    height: 380px;
    width: 374px;
    object-fit: fill;
}
.cierre{
    background-color: beige;
    color: rgb(1, 1, 1);
}

figure{
    display: inline-block;
    color: aliceblue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px;
    padding: 30px;
    font-size: 25px;
    overflow: hidden;
}

#Izquierda{
    margin-bottom: 160px;
}